@model IEnumerable<CustomIdentityApp.Models.User>
 
<section class="roles_users">
    <div class="wrapper">
        <div class="roles_user_wrapper">
            <div class="roles_user_table">
                <table class="roles_users_table">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права
                                    доступа</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="roles_user_link">
                <a asp-action="Index">Назад</a>
            </div>
        </div>
    </div>
</section>