@{
    ViewData["Title"] = "About Page";
}

<section class="about_intro">
    <div class="wrapper">
        <div class="about_intro-wrapper">
            <div class="about_intro-text">
                <p>В нашей компании мы понимаем важность эффективной и надежной логистики. Вот почему мы стремимся
                    предоставить нашим клиентам лучшие транспортные решения. С командой опытных профессионалов и
                    современным парком грузовых автомобилей мы гарантируем своевременную доставку ваших грузов,
                    независимо от пункта назначения. От небольших посылок до крупных отправлений мы относимся ко всему с
                    осторожностью и вниманием к деталям. Доверьте нам позаботиться о ваших транспортных потребностях и
                    избавить вас от хлопот, связанных с логистикой.</p>
            </div>
        </div>
        <div class="about_contact">
            <div class="about_contact-text">
                <p>Свяжитесь с нами сегодня, чтобы узнать больше.</p>
            </div>
            <div class="about_contact-img">
                <img src="/img/png/support.png" alt="Support">
            </div>
        </div>
    </div>
</section>