@model CustomIdentityApp.Models.Orders
@{
    ViewData["Title"] = "Booking Page";
}

<section class="booking">
    <div class="wrapper">
        <div class="booking_wrapper">
            <div class="booking_form">
                <form asp-action="booking" asp-controller="home">
                    <div class="booking_form-group">
                        <label asp-for="FullName" class="control-label">ФИО</label>
                        <input type="text" asp-for="FullName" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <label asp-for="Email" class="control-label">Почта</label>
                        <input type="text" asp-for="Email" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <label asp-for="From" class="control-label">Откуда</label>
                        <input type="text" asp-for="From" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <label asp-for="To" class="control-label">Куда</label>
                        <input type="text" asp-for="To" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <label asp-for="Weight" class="control-label">Вес</label>
                        <input type="number" asp-for="Weight" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <label asp-for="CargoType" class="control-label">Тип Груза</label>
                        <input type="text" asp-for="CargoType" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <label asp-for="Date" class="control-label">Дата доставки</label>
                        <input type="text" asp-for="Date" class="form-control" />
                    </div>
                    <div class="booking_form-group">
                        <input type="submit" value="Отправить" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>