@{
    ViewData["Title"] = "Home Page";
}
 
 
<section class="intro">
            <div class="wrapper">
                <div class="intro_wrapper">
                    <ul class="itro_list">
                        <li class="intro_item">
                            <img src="./img/svg/fast.svg" alt="fast" class="intro_fast">
                            <p class="intro_text">Скорость</p>
                        </li>
                        <li class="intro_item">
                            <img src="./img/svg/quality.svg" alt="quality" class="intro_quality">
                            <p class="intro_text">Качество</p>
                        </li>
                        <li class="intro_item">
                            <img src="./img/svg/secure.svg" alt="secure" class="intro_secure">
                            <p class="intro_text">Безопасность</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="wrapper">
                <div class="about_wrapper">
                    <h1>О нас</h1>
                    <div class="about_blocks">
                        <div class="about_paragraph">
                            <p>Наша компания стремится предоставлять нашим клиентам первоклассные услуги по перевозке грузов. Располагая парком хорошо обслуживаемых грузовиков и опытными водителями, мы гарантируем безопасную и своевременную доставку грузов в любой пункт назначения. Мы гордимся нашей приверженностью исключительному обслуживанию клиентов и стремимся сделать каждую отправку максимально комфортной. От электроники до мебели - мы можем обращаться со всеми видами товаров бережно и эффективно. Позвольте нам позаботиться о ваших потребностях в доставке, чтобы вы могли сосредоточиться на том, что для вас важно.</p>
                        </div>
                        <div class="about_button">
                            <a class="about_us-link" asp-area="" asp-controller="Home" asp-action="About">
                                <img src="/img/svg/about_button.svg" alt="About us" class="about_button-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cars">
            <div class="wrapper">
                <div class="cars_wrapper">
                    <h2>Машины</h2>
                    <div class="cars_blocks">
                        <div class="cars_button">
                            <a class="cars_button-link" asp-area="" asp-controller="Home" asp-action="Cars">
                                <img src="/img/svg/cars_button.svg" alt="Cars" class="cars_button-pic">
                            </a>
                        </div>
                        <div class="cars_paragraph">
                            <p>Наш парк грузовиков обладает большим количеством машин разного размера и назначения, что позволит вам выбрать самый удобный автомобиль и комофртную поездку для вашего груза</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>