/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v29-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v29-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v29-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v29-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v29-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v29-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v29-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v29-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v29-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v29-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'DIN Pro Light';
    src: url('../fonts/DINPro-Light.eot');
    src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Light.woff') format('woff'),
    url('../fonts/DINPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

html{
    box-sizing: border-box;
}
  *, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans';
    color: white;
}

.wrapper{
    max-width: 1408px;
    margin: 0 auto;
}

/*header*/

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(94, 94, 94);
}

.header_logo{
    margin-top: 5px;
    margin-left: 10px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    margin-top: 38px;
    margin-right: 100px;
}

.header_item-logout{
  margin-top: 15px;
}

.header_link{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.header_login{
    margin-top: 15px;
    margin-right: 100px;
}

/*intro*/

.intro_wrapper{
    height: 500px;
    background-color: rgb(221, 221, 57);
}

.intro_item{
    display: inline-block;
    padding-top: 100px;
    padding-left: 200px;
    opacity: 0;
    animation: ani .5s forwards;
}

.intro_item:nth-child(1) {animation-delay: .5s;}
.intro_item:nth-child(2) {animation-delay: 1s;}
.intro_item:nth-child(3) {animation-delay: 1.5s;}

@keyframes ani{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.intro_text{
    padding-top: 10px;
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
}

/*about*/

.about_wrapper{
    background-color: rgb(196, 196, 51);
    height: 350px;
}

.about_wrapper h1{
    padding-top: 20px; 
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
}

.about_blocks{
    display: flex;
    flex-wrap: wrap;
}

.about_paragraph{
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
    width: 938.7px;
    color: #000;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
}

.about_button{
    text-align: right;
    padding-top: 63px;
    padding-left: 100px;
}

/*cars*/

.cars_wrapper{
    height: 300px;
    background-color: rgb(221, 221, 57);
}

.cars_wrapper h2{
    padding-top: 20px; 
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
}

.cars_blocks{
    display: flex;
    flex-wrap: wrap;
}

.cars_button{
    padding-top: 38px;
    padding-left: 100px;
}

.cars_paragraph{
    width: 938.7px;
    text-align: left;
    padding-left: 130px;
    padding-top: 50px;
    color: #000;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

/*footer*/

.footer_wrapper {
    background-color: #333;
  }

  #contact{
    position: relative;
    top: 10px;
    left: 454px;

  }

  .footer_wrapper h2{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: inherit;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
  }
  
  form input,
  form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background-color: rgb(69, 69, 238);
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    width: 100px;
  }

  #contact{
    text-align: left;
    width: 500px;
  }


  /*cars.html*/

  .car_show-wrapper{
    background-color: rgb(221, 221, 57);
    height: 800px;
  }

  .car_show-wrapper h3{
    padding-top: 20px; 
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
  }

  #truck-gallery {
    padding-top: 20px;
    text-align: center;
  }

  #truck-name{
    display: none;
  }

  .truck-frame {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem;
  }

  img {
    width: 100%;
  }

  .buttons {
    margin-top: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
  #truck-container {
    position: relative;
  }

  #prev-button,
  #next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    cursor: pointer;
    display: none;
  }

  #prev-button {
    left: 10px;
  }

  #next-button {
    right: 10px;
  }

  #truck-container:hover #prev-button,
  #truck-container:hover #next-button {
    display: block;
  }

  .car_text{
    padding-top: 50px;
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    color: #000;
  }

  /*about site*/

  .about_intro-wrapper{
    height: 300px;
    background-color: rgb(221, 221, 57);
  }

  .about_intro-text{
    padding-top: 60px;
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    color: #000;
  }

  .about_contact{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  }

  .about_contact-text{
    padding-top: 130px;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 32px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
  }

  /*booking site*/

  .booking_wrapper{
    height: 700px;
    background-color: rgb(221, 221, 57);
  }

  .booking_form{
    position: relative;
    background-color: rgb(180, 180, 47);
    top: 50px;
    left: 579px;
    width: 250px;
  }

  label {
    font-family: 'DIN Pro Light';
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000;
  }

  /*orders*/

  .orders_wrapper{
    background-color: rgb(221, 221, 57);
    height: 300px;
  }


  .orders_t{
    position: relative;
    top: 50px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(221, 221, 57);
  }

  .orders_t td{
    border: 1px solid black;
    text-align: center;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
  }

  .orders_t tr:hover{
    background-color: rgb(240, 240, 77);
  }

  /*login*/
  .login_wrapper{
    background-color: rgb(221, 221, 57);
    height: 600px;
  }

  .login_form{
    position: relative;
    background-color: rgb(196, 196, 51);
    width: 250px;
    top: 100px;
    left: 579px;
  }

  .login_form-link{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
  }

  /*register*/

  .register_wrapper{
    background-color: rgb(221, 221, 57);
    height: 600px;
  }

  .register_form{
    position: relative;
    background-color: rgb(196, 196, 51);
    width: 300px;
    top: 100px;
    left: 554px;
  }

  /*roles*/

  .roles_wrapper{
    background-color: rgb(221, 221, 57);
  }

  .roles_table{
    position: relative;
    top: 50px;
    left: 100px;
  }

  .roles_table td{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .roles_list{
    display: flex;
    flex-wrap: wrap;
  }

  .roles_item{
    padding-bottom: 50px;
    padding-top: 75px;
    padding-left: 100px;
  }

  .roles_link{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    color:#000;
  }

  /*roles_create*/

  .roles_create_wrapper{
    background-color: rgb(221, 221, 57);
    height: 300px;
  }

  .roles_create_screen{
    position: relative;
    background-color: rgb(196, 196, 51);
    width: 250px;
    top: 50px;
    left: 579px;
  }
  
  /*roles_users*/

  .roles_user_wrapper{
    background-color: rgb(221, 221, 57);
  }

  .roles_user_table{
    position: relative;
    top: 25px;
    left: 50px;
  }

  .roles_users_table td{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }

  .roles_user_link{
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }

  /*roles_edit*/

  .roles_edit_wrapper{
    background-color: rgb(221, 221, 57);
    height: 450px;
  }

  .roles_edit_form{
    position: relative;
    background-color: rgb(196, 196, 51);
    width: 250px;
    top: 100px;
    left: 579px;
  }

  .edit_form-group{
    margin-bottom: 1rem;
  }

  .edit_from-group p{
    font-family: 'DIN Pro Light';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }

  .checkbox-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }


